@font-face {
   font-family: 'Josefin Sans', sans-serif;
   src: url('../font/JosefinSans-Bold.ttf');
   font-style: normal;
   font-weight: 700;
}

@font-face {
   font-family: 'Mrs Sheppards', cursive;
   src: url('../font/MrsSheppards-Regular.ttf');
   font-style: normal;
   font-weight: 400;
}

@font-face {
   font-family: 'Open Sans', sans-serif;
   src: url('../font/OpenSans-Light.ttf');
   font-style: normal;
   font-weight: 300;
}
@font-face {
   font-family: 'Open Sans', sans-serif;
   src: url('../font/OpenSans-Regular.ttf');
   font-style: normal;
   font-weight: 400;
}
@font-face {
   font-family: 'Open Sans', sans-serif;
   src: url('../font/OpenSans-Italic.ttf');
   font-style: italic;
   font-weight: 400;
}
@font-face {
   font-family: 'Open Sans', sans-serif;
   src: url('../font/OpenSans-Bold.ttf');
   font-style: normal;
   font-weight: 700;
}